@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-proxima-nova;
  }

  h2 {
    @apply font-bold text-title sm:text-4xl lg:text-[2.8rem] leading-10 lg:leading-11 mt-5 lg:mt-7;
  }

  h4 {
    @apply font-medium text-brand-primary lg:text-xl lg:leading-5;
  }

  p {
    @apply text-base-sm lg:text-base text-brand-gray-primary;
  }
}

.bg-nav-btn {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab-shadow {
  box-shadow: 0px 20px 25px 6px rgba(152, 152, 152, 0.06);
  @apply text-brand-primary;
}

.client-shadow {
  box-shadow: 0px 20px 25px 6px rgba(152, 152, 152, 0.06);
}

/* Swiper Styles */
.swiper-wrapper {
  @apply min-h-fit pb-8;
}

.swiper-pagination-progressbar {
  @apply !h-px !bg-[#ddd] !static !mt-10 !w-5/6 mx-auto xl:mx-0 lg:!w-[95%];
}

.swiper-pagination-progressbar-fill {
  @apply !bg-brand-primary;
}
